.first-screen {
  background: #e7f1f5;
  padding-top: rem(120);
  padding-bottom: rem(80);
  position: relative;
  overflow: hidden;
  &__background {
    display: none;
    position: absolute;
    width: 1000px;
    left: 50%;
    top: -30px;
    bottom: auto;
    transform: rotate(50deg);
  }
  &__row {
    @include container($wrap-content);
    @include space-between();
    padding: 0 15px;
  }
  &__left {
    flex-basis: 60%;
    z-index: 9;
    position: relative;
    .h150 {
      position: relative;
      &::before{
        content: '';
        width: 100%;
        height: 4px;
        background: $c-white;
        border-radius: 30px;
        position: absolute;
        right: 103%;
        top: 25px;
      }

    }
  }
  &__mobile-right {
    display: none;
  }
  &__row-list {
    @include space-between();
    align-items: stretch;
  }
  &__column {
    flex-basis: calc(99% / 3);
    @include flc-start();
    position: relative;
    z-index: 9;
    margin-bottom: 30px;
    .first-screen__mini-icon {
      margin-right: 10px;
    }
    .first-screen__description-text {
      flex-basis: calc(100% - 60px);
      color: $c-black;
      font-size: rem(14);
      font-family: 'Comfortaa',Arial,sans-serif;
      line-height: 1.55;
      font-weight: 700;

    }
    &:nth-child(1){
      flex-basis: 25%;
    }
    &:nth-child(2){
      flex-basis: 25%;
    }
  &:nth-child(3){
      flex-basis: 40%;
    }

  }
  .first-screen__column--width {
    width: 70%;
    margin: 0 auto;

  }
  &__btn {
    margin-bottom: rem(60);
    width: rem(250);
    height: rem(60);
    @include flc-center-center();
    color: $c-white;
    font-size: rem(15);
    font-family: 'Comfortaa',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 700;
    border-width: rem(1);
    border-radius: rem(30);
    background-color: #293363;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    text-decoration: none;
    &:hover{
      background-color: darken(#293363, 15%);
    }
  }
  &__mini-text {
    color: $c-black;
    font-size: rem(10);
    font-family: 'Comfortaa',Arial,sans-serif;
    line-height: 1.55;

  }

  &__right {
    flex-basis: 40%;
    position: relative;
    .background{
      @include full-abs();
      margin: auto;
      width: 1019px;
      top: 0;
      z-index: 0;
      height: 919px;
      transform: translateX(-35%) rotate(50deg);
    }
  }
  &__big-bg {
    width: 100%;
    > img {
      @include adapt-img();
      margin: 0 auto;
      transform: scale(1.2);
    }
    .lapki {
      position: absolute;
      z-index: 99;
      width: 80px;
      height: 237px;
      border: 1px solid red;
      fill: #e7f1f5;
    }
  }
}
.h150 {
  color: $c-black;
  font-size: rem(50);
  font-family: 'Comfortaa',Arial,sans-serif;
  font-weight: 100;
  text-shadow: 1px 3px 2px rgba(0,0,0, 0.3);
  span {
    font-weight: bold;
  }
}
.icon-hand-up {
  @include icon(40px, 40px, 'image.png');
  display: block;
}
.icon-hand-box {
  @include icon(40px, 40px, 'product.svg');
  display: block;
}
.icon-coin {
  @include icon(40px, 40px, 'economy.svg');
  display: block;
}


.icon-check-mark {
  @include icon(25px, 25px, 'tick_1.svg');
  display: block;
}
.first-screen__column--hidden {
  display: none;
}
@include mmax(900){
  .first-screen {
    &__mobile-right {
      display: block;
    }
    &__background {
      display: block;
    }
    &__row {
      @include container(800px);
    }
  }
  .first-screen__left {
    flex-basis: 100%;
  }
  .first-screen__row-list{
    display: block;
    .first-screen__column{
      width: 100% !important;
    }
  }
  .first-screen__mobile {
    @include space-between();
    align-items: stretch;
    .first-screen__mobile-left {
      flex-basis: 40%;
    }
    .first-screen__mobile-right {
      flex-basis: 40%;
      >img {
        @include adapt-img();
        transform: scale(1.3);
        margin: 0 auto;
      }
    }

  }
  .first-screen__column--hidden {
    display: flex;
  }
  .first-screen__mini-text {
    margin-top: rem(20);
    display: block;
  }
  .first-screen__btn {
    margin-bottom: rem(20);
  }
  .first-screen__column--width {
    width: 100% !important;
    flex-basis: 100% !important;
  }
  .first-screen__right {
    display: none;
  }
}
@include mmax(568){
  .first-screen{
    padding: rem(90) 0 rem(50);
  }
  .h150{
    font-size: rem(38);
  }
  .first-screen__column .first-screen__description-text{
    font-size: rem(12);
  }

  .first-screen__mobile .first-screen__mobile-right{
    flex-basis: 40%;
  }
  .first-screen__mobile .first-screen__mobile-left{
    flex-basis: 100%;
    .first-screen__row-list {
      @include space-between();
      .first-screen__column {
        flex-basis: 48%;
      }
    }
  }
}
@include mmax(452){
  .first-screen__mobile .first-screen__mobile-right{
    flex-basis: 30%;
  }
  .first-screen__column:nth-child(3){
	 flex-basis: 100% !important;
  }
}
@include mmax(410){
  .h150 {
    font-size: rem(32);
  }
  .first-screen__btn{
    width: rem(200);
  }
}