.catalog {
	position: relative;
	overflow: hidden;
	margin-top: rem(130);
	padding: rem(20) rem(30);
	@include mmax(414) {
		padding: rem(10) rem(15);
		margin-top: 80px;
	}
	&__row {
		@include container($wrap-content);

		@include space-between();
		align-items: flex-start;
	}
	&__title {
		flex-basis: 100%;
		margin-bottom: rem(30);
		margin-left: rem(20);
	}
	&__filter {
		flex-basis: 25%;
		padding: 30px;
		align-items: center;
		flex-wrap: wrap;
		border-color: #ebebeb;
		border-style: solid;
		border-width: 2px;
		border-radius: 24px;
		@include mmax(1255) {
			flex-basis: 15%;
		}
		@include mmax(1037) {
			flex-basis: 18%;
		}
		@include mmax(592) {
			flex-basis: 100%;
			margin-bottom: 20px;
			padding: 10px 20px;
			@include flc-start();
			align-items: stretch;
		}
	}

	&__filter-elem {
		margin: 0px 0px 30px 0px;
		@include mmax(592) {
			margin-right: 20px;
		}
	}

	&__fitler-title {
		color: #d6b56e;
		font-size: rem(22);
		line-height: 1.7;
		font-weight: 700;
		margin: 0px 0px 10px;
	}

	&__filter-item {
		@include flc-start();
		color: #000000;
		font-size: rem(12);
		line-height: 1.7;
		margin: 0px 0px 0px 0px;
		font-weight: 700;
		transition: 0.5s;
		cursor: pointer;
		&:hover {
			color: $c-hover;
		}
	}
	&__filter-items {
		input {
			opacity: 0;
			position: absolute;
			top: -999999%;
			left: -9999999%;
		}
		label {
			color: $c-black;
			font-size: rem(12);
			line-height: 1.7;
			margin: 0px 0px 0px 0px;
			font-weight: 700;
			transition: 0.5s;
			cursor: pointer;
			padding-left: rem(25);
			position: relative;
			&::before {
				content: "";
				@include full-abs();
				right: auto;
				margin: auto;
				width: 15px;
				height: 15px;
				border: 1px solid $c-gold;
			}
			&::after {
				content: url("../i/tick_1.svg");
				@include full-abs();
				z-index: 99;
				margin: auto;
				right: auto;
				transition: 0.5s;
				width: 20px;
				opacity: 0;
				visibility: hidden;
				left: -10px;
				height: 20px;
				bottom: auto;
				top: -10px;
				transform: scale(0.03);
			}

			&:hover {
				color: $c-hover;
			}
		}
		input:checked + label {
			&::before {
				opacity: 0;
				visibility: hidden;
			}
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.catalog__filter-item--active {
		.catalog__chekbox {
			position: relative;
			&::before {
				opacity: 1;
				visibility: visible;
				content: url(../i/tick.svg);
			}
		}
	}
	&__chekbox {
		width: 15px;
		height: 15px;
		border: 1px solid $c-black;
		margin: 0px 20px 0px 0px;
		&::before {
			transition: 0.5s;
			content: url(../i/tick.svg);
			opacity: 0;
			visibility: hidden;
		}
	}

	&__items {
		flex-basis: 74%;
		@include space-between();
		align-items: stretch;
		@include mmax(1255) {
			flex-basis: 84%;
		}
		@include mmax(1037) {
			flex-basis: 80%;
		}
		@include mmax(882) {
			flex-basis: 70%;
		}
		@include mmax(592) {
			flex-basis: 100%;
		}
	}
	&__items-item {
		margin-bottom: 15px !important;
		transition: 0.5s;
		padding: 20px 20px;
		align-items: flex-start;
		&:hover {
			transform: scale(1.03);
		}
		.prodcut-item__right-text {
			flex-basis: 100%;
		}
		.prodcut-item__images {
			flex-basis: 100%;
			position: relative;
			max-height: 230px;
			padding-top: 30px;
			overflow: hidden;
			> img {
				max-width: 60%;
				margin: 0px auto 30px;
				display: block;
			}
		}
		.prodcut-item__characteristics-element {
			font-size: rem(16);
		}
		@include mmax(1037) {
			flex-basis: 100%;
			margin: 0px auto;
		}
	}
}
._hide {
	opacity: 0;
	visibility: hidden !important;
}
._show {
	opacity: 1;
	visibility: visible !important;
}
.catalog__items-item {
	.first-screen__btn {
		margin-bottom: 10px;
	}
	@include mmax(431) {
		.price {
			flex-basis: 100%;
			text-align: center;
		}
		.first-screen__btn {
			flex-basis: 80%;
		}
	}
}
.flex {
	@include space-between();
}
