{% include "html/_document-header.html" %}

<div class="workspace">
	<div class="workspace__cont">
		<div class="workspace__header">
			{% include "html/header.html" %}
		</div>
		<main class="workspace__content">
			<section class="basket">
				<div class="basket__body">
					<p class="basket__title h330">Basket</p>
					<form class="basket__row">
						<div class="basket__column">
							<div class="basket__icon">
								<i class="icon-man"></i>
								<p>Twoje dane</p>
							</div>
							<div class="basket__name">
								<span>Imie:</span>
								<p>Illia</p>
							</div>
							<div class="basket__name">
								<span>Nazwisko:</span>
								<p>Klen</p>
							</div>
							<div class="basket__name">
								<span>Ulica i numer:</span>
								<p>81 471 40 30</p>
							</div>
							<div class="basket__name">
								<span>Kod poctowy i miasto:</span>
								<p>12-456 Krakow</p>
							</div>
							<div class="basket__name">
								<span>Telefon:</span>
								<p>81 471 40 30</p>
							</div>
							<div class="basket__name">
								<span>Address e-mail:</span>
								<p>klenchys.i@gmail.com</p>
							</div>
							<div class="basket__icon">
								<i class="icon-man"></i>
								<p>Twoje dane</p>
							</div>
							<div class="basket__name">
								<span>Imie:</span>
								<p>Illia</p>
							</div>
							<div class="basket__name">
								<span>Nazwisko:</span>
								<p>Klen</p>
							</div>
							<div class="basket__name">
								<span>Ulica i numer:</span>
								<p>81 471 40 30</p>
							</div>
							<div class="basket__name">
								<span>Kod poctowy i miasto:</span>
								<p>12-456 Krakow</p>
							</div>
						</div>
						<div class="basket__column">
							<div class="basket__icon">
								<i class="icon-hand-box"></i>
								<p>Platnochi</p>
							</div>
							<div class="basket__radio">
								<input type="radio" class="radio" name="radio" id="r1">
								<label for="r1"><i class="icon-paylan"></i>Szybka płatność PayLane</label>
							</div>
							<!--<div class="basket__radio">
								<input type="radio" class="radio" name="radio" id="r2">
								<label for="r2"><i class="icon-przelew"></i>Przelew</label>
							</div>
							<div class="basket__radio">
								<input type="radio" class="radio" name="radio" id="r4">
								<label for="r4"><i class="icon-twisto"></i>Kup teraz i zapłać w ciągu 21 dni! BLIKiem lub
									przelewem!</label>
							</div>
							<div class="basket__radio">
								<input type="radio" class="radio" name="radio" id="r5">
								<label for="r5"><i class="icon-twisto"></i></label>
								<input type="text" class="basket__input" placeholder="Numer bonu">
							</div>-->
							<div class="basket__radio">
								<input type="radio" class="radio" name="radio" id="r6">
								<label for="r6"><i class="icon-purse"> </i> Płatne przy odbiorze</label>
							</div>
							<div class="basket__icon">
								<i class="icon-hand-up"></i>
								<p>Metody dostawy</p>
							</div>
							<div class="basket__radio">
								<input type="radio" class="radio" name="radio2" id="r7">
								<label for="r7"><i class="icon-DHL"></i> DHL Paczka - standard</label>
								<p class="gratis">Gratis</p>
							</div>
							<div class="basket__radio">
								<input type="radio" class="radio" name="radio2" id="r7">
								<label for="r7"><i class="icon-DHL"></i> DHL Paczka - standard</label>
								<p class="gratis">Gratis</p>
							</div>
							<div class="basket__radio">
								<input type="radio" class="radio" name="radio2" id="r8">
								<label for="r8"><i class="icon-map"></i> Odbiór osobisty</label>
								<p class="gratis">Gratis</p>
							</div>
						</div>
						<div class="basket__column">
							<div class="basket__icon">
								<i class="icon-calendar"></i>
								<p>Podsumowanie</p>
							</div>
							<div class="basket__final">
								<div class="basket__product">
									<div class="basket__product-img"><img src="img/box4.png" alt=""></div>
									<p class="basket__product-name">JRS Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
									<p class="basket__product-price"><span>284</span> zl</p>
								</div>
								<p>Wartość zamówienia:<span class="bold"><span class="basket__final-price">0,00</span>
										złbrutto</span>
								</p>
								<p>Koszt przesyłki: <span class="bold"><span class="basket__final-price">0,00</span> złbrutto</span>
								</p>

							</div>
							<div class="basket__check">
								<p>Do zapłaty:</p>
								<p class="check"><span>0,00</span> złbrutto</p>
							</div>
							<a href="#" class="btn-zanznach">Zaznacz wszystkie</a>
							<div class="basket__checkbox">
								<input type="checkbox" id="c1">
								<label for="c1">Proszę o wystawienie faktury VAT</label>
							</div>
							<div class="basket__checkbox">
								<input type="checkbox" id="c2">
								<label for="c2">Chcę dodać uwagi do zamówienia</label>
							</div>
							<div class="basket__checkbox">
								<input type="checkbox" id="c3">
								<label for="c3">Akceptuję warunki <a href="#">regulaminu</a> oraz zapoznałem się z moim <a
										href="#">prawem do
										odstąpienia od umowy</a></label>
							</div>
							<div class="basket__checkbox">
								<input type="checkbox" id="c4">
								<label for="c4">W związku ze zmianami w Ustawie o podatku od towarów i usług jakie weszły w życie od 1
									stycznia 2020 w zakresie
									wystawiania faktur do paragonów, informujemy, że od tego dnia nie jest już możliwe wystawienie faktury
									do paragonu na
									którym nie było numeru NIP nabywcy (art.106b ust.5 Ustawy o VAT);
									W związku z powyższym prosimy o dokonywanie wyboru sposobu dokumentowania zakupu (paragon czy faktura)
									przed
									sfinalizowaniem transakcji – po wystawieniu paragonu nie będzie możliwości wystawienia do niego
									faktury.</label>
							</div>
							<span class="basket__subcheck">* Pola oznaczone gwiazdką są wymagane</span>
							<button type="submit" class="basket__btn">Zamawiam z obowiązkiem zapłaty</button>
						</div>
				</div>

			</section>

		</main>
		<div class="workspace__footer">

			{% include "html/footer.html" %}


		</div>
	</div>
</div>
{% include "html/_document-footer.html" %}