{% include "html/_document-header.html" %}

<div class="workspace">
	<div class="workspace__cont">
		<div class="workspace__header">
			{% include "html/header.html" %}
		</div>
		<main class="workspace__content">
			<section class="catalog">
				<div class="catalog__row">
					<p class="catalog__title h240">Filter</p>
					<div class="catalog__filter">
						<div class="catalog__filter-elem">
							<p class="catalog__fitler-title">Złotych</p>
							<div class="catalog__filter-items">
								<input data-filter="fil1" type="checkbox" id="f1" class="catalog__filter-item"></input>
								<label for="f1">Filter 1</label>
							</div>
							<div class="catalog__filter-items">
								<input data-filter="fil1" type="checkbox" id="f2" class="catalog__filter-item"></input>
								<label for="f2">Filter 2</label>
							</div>
							<div class="catalog__filter-items">
								<input data-filter="fil1" type="checkbox" id="f3" class="catalog__filter-item"></input>
								<label for="f3">Filter 3</label>
							</div>
							<div class="catalog__filter-items">
								<input data-filter="fil1" type="checkbox" id="f4" class="catalog__filter-item"></input>
								<label for="f4">Filter 4</label>
							</div>
						</div>
						<div class="catalog__filter-elem">
							<p class="catalog__fitler-title">Złotych</p>
							<div class="catalog__filter-items">
								<input data-filter="fil1" type="checkbox" id="f5" class="catalog__filter-item"></input>
								<label for="f5">Filter 5</label>
							</div>
							<div class="catalog__filter-items">
								<input data-filter="fil1" type="checkbox" id="f6" class="catalog__filter-item"></input>
								<label for="f6">Filter 6</label>
							</div>
							<div class="catalog__filter-items">
								<input data-filter="fil1" type="checkbox" id="f7" class="catalog__filter-item"></input>
								<label for="f7">Filter 7</label>
							</div>
							<div class="catalog__filter-items">
								<input data-filter="fil1" type="checkbox" id="f8" class="catalog__filter-item"></input>
								<label for="f8">Filter 8</label>
							</div>
							<div class="catalog__filter-items">
								<input data-filter="fil1" type="checkbox" id="f9" class="catalog__filter-item"></input>
								<label for="f9">Filter 9</label>
							</div>
						</div>
					</div>
					<div class="catalog__items">
						<div data-filter-name="fil1" data-wow-delay=".1s"
							class="wow fadeInUp catalog__items-item product__items prodcut-item">
							<div class="prodcut-item__images">
								<img src="img/box1.png" alt="">
							</div>
							<div class="prodcut-item__right-text">
								<p class="price">Title 1</p>
								<p class="prodcut-item__characteristics-element">
									<span>Objętość:</span>
									1 opakowanie 3,8L
								</p>
								<p class="prodcut-item__characteristics-element">
									<span>Wystarczy:</span>
									do 1,5 tygodnia
								</p>
								<p class="prodcut-item__characteristics-element">
									<span>Rodzaj:</span>
									żwirek silikonowy
								</p>
								<p class="prodcut-item__characteristics-element">
									<span>Kolor:</span>
									przezroczysto-biały z błękitnym dodatkiem
								</p>
								<p class="prodcut-item__characteristics-element prodcut-item__characteristics-element--gold">
									<span>Dostawa:</span>
									13,99 złotych kurier
								</p>
								<div class="flex">
									<p class="price">12,99 złotych</p>
									<a href="#" class="first-screen__btn">Chcę spróbować</a>
								</div>
							</div>


						</div>
						<div data-filter-name="fil2" data-wow-delay=".3s"
							class="wow fadeInUp catalog__items-item product__items prodcut-item">
							<div class="prodcut-item__images">
								<img src="img/box2.png" alt="">
							</div>
							<div class="prodcut-item__right-text">
								<p class="price">Title 1</p>

								<p class="prodcut-item__characteristics-element">
									<span>Objętość:</span>
									1 opakowanie 3,8L
								</p>
								<p class="prodcut-item__characteristics-element">
									<span>Wystarczy:</span>
									do 1,5 tygodnia
								</p>
								<p class="prodcut-item__characteristics-element">
									<span>Rodzaj:</span>
									żwirek silikonowy
								</p>
								<p class="prodcut-item__characteristics-element">
									<span>Kolor:</span>
									przezroczysto-biały z błękitnym dodatkiem
								</p>
								<p class="prodcut-item__characteristics-element prodcut-item__characteristics-element--gold">
									<span>Dostawa:</span>
									13,99 złotych kurier
								</p>
								<div class="flex">
									<p class="price">12,99 złotych</p>
									<a href="#" class="first-screen__btn">Chcę spróbować</a>
								</div>
							</div>


						</div>
						<div data-filter-name="fil2" data-wow-delay=".3s"
							class="wow fadeInUp catalog__items-item product__items prodcut-item">
							<div class="prodcut-item__images">
								<img src="img/box2.png" alt="">
							</div>
							<div class="prodcut-item__right-text">
								<p class="price">Title 1</p>

								<p class="prodcut-item__characteristics-element">
									<span>Objętość:</span>
									1 opakowanie 3,8L
								</p>
								<p class="prodcut-item__characteristics-element">
									<span>Wystarczy:</span>
									do 1,5 tygodnia
								</p>
								<p class="prodcut-item__characteristics-element">
									<span>Rodzaj:</span>
									żwirek silikonowy
								</p>
								<p class="prodcut-item__characteristics-element">
									<span>Kolor:</span>
									przezroczysto-biały z błękitnym dodatkiem
								</p>
								<p class="prodcut-item__characteristics-element prodcut-item__characteristics-element--gold">
									<span>Dostawa:</span>
									13,99 złotych kurier
								</p>
								<div class="flex">
									<p class="price">12,99 złotych</p>
									<a href="#" class="first-screen__btn">Chcę spróbować</a>
								</div>
							</div>


						</div>
						<div data-filter-name="fil3" data-wow-delay=".4s"
							class="wow fadeInUp catalog__items-item product__items prodcut-item">
							<div class="prodcut-item__images">
								<img src="img/box2.png" alt="">
							</div>
							<div class="prodcut-item__right-text">
								<p class="price">Title 1</p>

								<p class="prodcut-item__characteristics-element">
									<span>Objętość:</span>
									1 opakowanie 3,8L
								</p>
								<p class="prodcut-item__characteristics-element">
									<span>Wystarczy:</span>
									do 1,5 tygodnia
								</p>
								<p class="prodcut-item__characteristics-element">
									<span>Rodzaj:</span>
									żwirek silikonowy
								</p>
								<p class="prodcut-item__characteristics-element">
									<span>Kolor:</span>
									przezroczysto-biały z błękitnym dodatkiem
								</p>
								<p class="prodcut-item__characteristics-element prodcut-item__characteristics-element--gold">
									<span>Dostawa:</span>
									13,99 złotych kurier
								</p>
								<div class="flex">
									<p class="price">12,99 złotych</p>
									<a href="#" class="first-screen__btn">Chcę spróbować</a>
								</div>
							</div>


						</div>
						<div data-filter-name="fil4" data-wow-delay=".5s"
							class="wow fadeInUp catalog__items-item product__items prodcut-item">
							<div class="prodcut-item__images">
								<img src="img/box4.png" alt="">
							</div>
							<div class="prodcut-item__right-text">
								<p class="price">Title 1</p>

								<p class="prodcut-item__characteristics-element">
									<span>Objętość:</span>
									1 opakowanie 3,8L
								</p>
								<p class="prodcut-item__characteristics-element">
									<span>Wystarczy:</span>
									do 1,5 tygodnia
								</p>
								<p class="prodcut-item__characteristics-element">
									<span>Rodzaj:</span>
									żwirek silikonowy
								</p>
								<p class="prodcut-item__characteristics-element">
									<span>Kolor:</span>
									przezroczysto-biały z błękitnym dodatkiem
								</p>
								<p class="prodcut-item__characteristics-element prodcut-item__characteristics-element--gold">
									<span>Dostawa:</span>
									13,99 złotych kurier
								</p>
								<div class="flex">
									<p class="price">12,99 złotych</p>
									<a href="#" class="first-screen__btn">Chcę spróbować</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</main>
		<div class="workspace__footer">

			{% include "html/footer.html" %}


		</div>
	</div>
</div>
{% include "html/_document-footer.html" %}