{% include "html/_document-header.html" %}

<div class="workspace">
	<div class="workspace__cont">
		<div class="workspace__header">
			{% include "html/header.html" %}
		</div>
		<main class="workspace__content">
			<section class="delivery">
				<div class="delivery__body">

					<p class="delivery__title h240">Warunki dostawy i płatności</p>
					<div class="delivery__row">
						<div class="delivery__column">
							<p><i class="icon-free"></i></p>
							<div class="delivery__text-right">
								<p class="delivery__text  text-default16">Dostawa całkowicie za darmo przy zamówieniu od 8 opakowań 3.8l
									lub od 15 kg.
								</p>
								<span class="delivery__sub-text">W innym przypadku - dostawa 13.99 zł</span>
							</div>
						</div>
						<div class="delivery__column">
							<p><i class="icon-delivery"></i></p>
							<div class="delivery__text-right">
								<p class="delivery__text text-default16">Dostawa całkowicie za darmo przy zamówieniu od 8 opakowań 3.8l
									lub od 15 kg.
								</p>
								<span class="delivery__sub-text">W innym przypadku - dostawa 13.99 zł</span>
							</div>
						</div>

					</div>
					<div class="delivery__gwarancje">

						<p class="delivery__sub-title h330">Gwarancje</p>
						<div class="delivery__gwarancje-column">
							<p class="delivery__text text-default16">Jeśli otrzymasz żwirek o nieodpowiedniej jakości lub nie tej
								objętości, którą - <span> masz prawo zrezygnować i nie płacić</span></p>
							<p class="delivery__text text-default16">
								Masz prawo do zwrotu nie użytego żwirku w ciągu 14 dni bez wyjaśnienia przyczyn
							</p>
						</div>
						<p class="delivery__exclamation"><i class="icon-exclamation"></i> <span> Opłacasz przy odbiorze i pod
								warunkiem, że
								wszystko Ci odpowiada</span></p>
					</div>
				</div>
			</section>
		</main>
		<div class="workspace__footer">

			{% include "html/footer.html" %}


		</div>
	</div>
</div>
{% include "html/_document-footer.html" %}