{% include "html/_document-header.html" %}

<div class="workspace">
	<div class="workspace__cont">
		<div class="workspace__header">
			{% include "html/header.html" %}
		</div>
		<main class="workspace__content">
			<section class="news">
				<p class="news__title h240">News</p>
				<div class="news__body">
					<div data-filter-name="fil2" data-wow-delay=".3s"
						class="wow fadeInUp catalog__items-item product__items prodcut-item">
						<div class="prodcut-item__images">
							<img src="img/box2.png" alt="">
						</div>
						<div class="prodcut-item__right-text">
							<p class="prodcut-item__characteristics-element">
								<span>Objętość:</span>
								1 opakowanie 3,8L
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Wystarczy:</span>
								do 1,5 tygodnia
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Rodzaj:</span>
								żwirek silikonowy
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Kolor:</span>
								przezroczysto-biały z błękitnym dodatkiem przezroczysto-biały z błękitnym dodatkiem
							</p>
							<a href="#" class="prodcut-item__btn btn-default">Chcę spróbować</a>
						</div>


					</div>
					<div data-filter-name="fil2" data-wow-delay=".3s"
						class="wow fadeInUp catalog__items-item product__items prodcut-item">
						<div class="prodcut-item__images">
							<img src="img/box2.png" alt="">
						</div>
						<div class="prodcut-item__right-text">
							<p class="prodcut-item__characteristics-element">
								<span>Objętość:</span>
								1 opakowanie 3,8L
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Wystarczy:</span>
								do 1,5 tygodnia
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Rodzaj:</span>
								żwirek silikonowy
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Kolor:</span>
								przezroczysto-biały z błękitnym dodatkiem
							</p>
							<a href="#" class="prodcut-item__btn btn-default">Chcę spróbować</a>
						</div>


					</div>
					<div data-filter-name="fil3" data-wow-delay=".4s"
						class="wow fadeInUp catalog__items-item product__items prodcut-item">
						<div class="prodcut-item__images">
							<img src="img/box2.png" alt="">
						</div>
						<div class="prodcut-item__right-text">
							<p class="prodcut-item__characteristics-element">
								<span>Objętość:</span>
								1 opakowanie 3,8L
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Wystarczy:</span>
								do 1,5 tygodnia
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Rodzaj:</span>
								żwirek silikonowy
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Kolor:</span>
								przezroczysto-biały z błękitnym dodatkiem Lorem, ipsum dolor sit amet consectetur adipisicing elit.
								Repudiandae vitae maiores commodi delectus expedita vel quos hic magnam eius, enim optio consequuntur.
								Quibusdam obcaecati odit voluptatibus, facere perferendis accusamus animi!
							</p>

							<a href="#" class="prodcut-item__btn btn-default">Chcę spróbować</a>
						</div>


					</div>
					<div data-filter-name="fil4" data-wow-delay=".5s"
						class="wow fadeInUp catalog__items-item product__items prodcut-item">
						<div class="prodcut-item__images">
							<img src="img/box4.png" alt="">
						</div>
						<div class="prodcut-item__right-text">
							<p class="prodcut-item__characteristics-element">
								<span>Objętość:</span>
								1 opakowanie 3,8L
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Wystarczy:</span>
								do 1,5 tygodnia
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Rodzaj:</span>
								żwirek silikonowy
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Kolor:</span>
								przezroczysto-biały z błękitnym dodatkiem
							</p>
							<p class="prodcut-item__characteristics-element prodcut-item__characteristics-element--gold">
								<span>Dostawa:</span>
								13,99 złotych kurier
							</p>
							<p class="price">12,99 złotych</p>
							<a href="#" class="prodcut-item__btn btn-default">Chcę spróbować</a>
						</div>
					</div>
					<div data-filter-name="fil2" data-wow-delay=".3s"
						class="wow fadeInUp catalog__items-item product__items prodcut-item">
						<div class="prodcut-item__images">
							<img src="img/box2.png" alt="">
						</div>
						<div class="prodcut-item__right-text">
							<p class="prodcut-item__characteristics-element">
								<span>Objętość:</span>
								1 opakowanie 3,8L
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Wystarczy:</span>
								do 1,5 tygodnia
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Rodzaj:</span>
								żwirek silikonowy
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Kolor:</span>
								przezroczysto-biały z błękitnym dodatkiem
							</p>
							<p class="prodcut-item__characteristics-element prodcut-item__characteristics-element--gold">
								<span>Dostawa:</span>
								13,99 złotych kurier
							</p>
							<p class="price">12,99 złotych</p>
							<a href="#" class="prodcut-item__btn btn-default">Chcę spróbować</a>
						</div>


					</div>
					<div data-filter-name="fil2" data-wow-delay=".3s"
						class="wow fadeInUp catalog__items-item product__items prodcut-item">
						<div class="prodcut-item__images">
							<img src="img/box2.png" alt="">
						</div>
						<div class="prodcut-item__right-text">
							<p class="prodcut-item__characteristics-element">
								<span>Objętość:</span>
								1 opakowanie 3,8L
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Wystarczy:</span>
								do 1,5 tygodnia
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Rodzaj:</span>
								żwirek silikonowy
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Kolor:</span>
								przezroczysto-biały z błękitnym dodatkiem
							</p>
							<p class="prodcut-item__characteristics-element prodcut-item__characteristics-element--gold">
								<span>Dostawa:</span>
								13,99 złotych kurier
							</p>
							<p class="price">12,99 złotych</p>
							<a href="#" class="prodcut-item__btn btn-default">Chcę spróbować</a>
						</div>


					</div>
					<div data-filter-name="fil3" data-wow-delay=".4s"
						class="wow fadeInUp catalog__items-item product__items prodcut-item">
						<div class="prodcut-item__images">
							<img src="img/box2.png" alt="">
						</div>
						<div class="prodcut-item__right-text">
							<p class="prodcut-item__characteristics-element">
								<span>Objętość:</span>
								1 opakowanie 3,8L
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Wystarczy:</span>
								do 1,5 tygodnia
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Rodzaj:</span>
								żwirek silikonowy
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Kolor:</span>
								przezroczysto-biały z błękitnym dodatkiem
							</p>
							<p class="prodcut-item__characteristics-element prodcut-item__characteristics-element--gold">
								<span>Dostawa:</span>
								13,99 złotych kurier
							</p>
							<p class="price">12,99 złotych</p>
							<a href="#" class="prodcut-item__btn btn-default">Chcę spróbować</a>
						</div>


					</div>
					<div data-filter-name="fil4" data-wow-delay=".5s"
						class="wow fadeInUp catalog__items-item product__items prodcut-item">
						<div class="prodcut-item__images">
							<img src="img/box4.png" alt="">
						</div>
						<div class="prodcut-item__right-text">
							<p class="prodcut-item__characteristics-element">
								<span>Objętość:</span>
								1 opakowanie 3,8L
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Wystarczy:</span>
								do 1,5 tygodnia
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Rodzaj:</span>
								żwirek silikonowy
							</p>
							<p class="prodcut-item__characteristics-element">
								<span>Kolor:</span>
								przezroczysto-biały z błękitnym dodatkiem
							</p>
							<p class="prodcut-item__characteristics-element prodcut-item__characteristics-element--gold">
								<span>Dostawa:</span>
								13,99 złotych kurier
							</p>
							<p class="price">12,99 złotych</p>
							<a href="#" class="prodcut-item__btn btn-default">Chcę spróbować</a>
						</div>
					</div>
					<div class="news__pagination">
						<a href="#" class="news__pagination--active">01</a>
						<a href="#">02</a>
						<a href="#">03</a>
						<a href="#">04</a>
						<span>...</span>
						<a href="#">10</a>

					</div>
				</div>
			</section>
		</main>
		<div class="workspace__footer">

			{% include "html/footer.html" %}


		</div>
	</div>
</div>
{% include "html/_document-footer.html" %}